spring-integration-bancario/appClienteEntidad/src/main/webapp/schemas/cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/cliente" 
	xmlns:tns="http://www.example.org/cliente" elementFormDefault="qualified">

    <complexType name="clienteType">
    	<sequence>
    		<element name="codigo" type="string"></element>
    		<element name="nombre" type="string"></element>
    		<element name="apellido" type="string"></element>
    		<element name="banco" type="string"></element>
    	</sequence>
    </complexType>

    <element name="clienteType" type="tns:clienteType"></element>
</schema>