spring-integration-bancario/appClienteCuentas/src/test/resources/CuentaSaldo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.example.org/Cliente" xmlns:tns="http://www.example.org/Cliente" 
	elementFormDefault="qualified">

    <complexType name="CuentaSaldo">
    	<sequence>
    		<element name="cuenta" type="string"></element>
    		<element name="saldo" type="float"></element>
    		<element name="moneda" type="string"></element>
    	</sequence>
    </complexType>
    
     <element name="CuentaSaldo" type="tns:CuentaSaldo"></element>
     
</schema>